Repository nix-community/nixd, pull requests merged in 2024-05, with the labels that each got.

#488 docs/examples: add flake-parts
  nixd/docs/editors/nvim-lsp.nix
  nixd/docs/examples/NixOS_Home-Manager/flake.lock
  nixd/docs/examples/NixOS_Home-Manager/flake.nix
Labels: documentation

#490 libnixf: fix missing visitor for `ExprPath`
  libnixf/include/nixf/Basic/Nodes/Simple.h
  nixd/tools/nixd/test/diagnostic-liveness-path.md
Labels: bug, libnixf:basic

#501 libnixf: fix variable lookup not visiting empty let ... in ... expr
  libnixf/src/Sema/VariableLookup.cpp
  libnixf/test/Sema/VariableLookup.cpp
Labels: bug, libnixf:sema

#484 libnixf: add README
  libnixf/README.md
Labels: documentation

#502 nixd/Controller: reply `shutdown`
  nixd/include/nixd/Controller/Controller.h
  nixd/lib/Controller/LifeTime.cpp
  nixd/lib/Controller/Support.cpp
Labels: nixd:controller

#505 nixd: diagnostic control system
  nixd/docs/configuration.md
  nixd/include/nixd/Controller/Configuration.h
  nixd/include/nixd/Controller/Controller.h
  nixd/lib/Controller/Configuration.cpp
  nixd/lib/Controller/Diagnostics.cpp
Labels: enhancement

#506 libnixf: report error if extra token is consumed
  libnixf/src/Parse/ParseSupport.cpp
  libnixf/src/Parse/Parser.h
  libnixf/test/Parse/ParseExpr.cpp
Labels: bug, libnixf:parse

#508 libnixf/Parse: accept url literal
  libnixf/src/Parse/ParseSimple.cpp
  libnixf/test/Parse/ParseSimple.cpp
Labels: enhancement, libnixf:parse

#511 nixd/docs: fix typos
  nixd/docs/configuration.md
Labels: documentation

#514 libnixf/Sema: fix attribute source context of `inherit (expr) ...`
  libnixf/include/nixf/Basic/Nodes/Attrs.h
  libnixf/include/nixf/Sema/SemaActions.h
  libnixf/src/Sema/SemaActions.cpp
  libnixf/src/Sema/VariableLookup.cpp
  libnixf/test/Sema/SemaActions.cpp
  libnixf/test/Sema/VariableLookup.cpp
Labels: bug
