Repository nix-community/nixd, pull requests merged in 2024-06, with the labels that each got.

#524 nixd/Controller: fix character number -> 0
  nixd/lib/Controller/Definition.cpp
  nixd/tools/nixd/test/definition-package.md
Labels: bug, nixd:controller

#526 nixd/hover: hover documentation for options
  nixd/lib/Controller/Hover.cpp
  nixd/tools/nixd/test/hover-options.md
Labels: enhancement

#527 libnixf,nixd: demote livenss warning severity to "hint"
  libnixf/include/nixf/Basic/Diagnostic.h
  libnixf/include/nixf/Basic/DiagnosticKinds.inc
  nixd/lib/Controller/Convert.cpp
  nixd/tools/nixd/test/diagnostic-liveness-formal.md
Labels: enhancement

#535 libnixf/Sema: ignore builtin liveness warning
  libnixf/src/Sema/VariableLookup.cpp
  libnixf/test/Sema/VariableLookup.cpp
Labels: bug, libnixf:sema
