Repository nix-community/nixd, pull requests merged in 2024-04, with the labels that each got.

#382 libnixf/Sema: fix misplaced nested liveness diagnostic
  libnixf/src/Sema/VariableLookup.cpp
  libnixf/test/Sema/VariableLookup.cpp
Labels: bug, libnixf:sema

#396 libnixf/Sema: set attrrange to it's key for var lookup
  libnixf/src/Sema/VariableLookup.cpp
  libnixf/test/Sema/VariableLookup.cpp
Labels: libnixf:sema

#397 libnixf/Sema: reduce range of with def
  libnixf/src/Sema/VariableLookup.cpp
  libnixf/test/Sema/VariableLookup.cpp
Labels: libnixf:sema

#402 nixd: support find references
  libnixf/include/nixf/Sema/VariableLookup.h
  libnixf/src/Sema/VariableLookup.cpp
  libnixf/test/Sema/VariableLookup.cpp
  nixd/include/nixd/Controller/Controller.h
  nixd/lib/Controller/Definition.cpp
  nixd/lib/Controller/Definition.h
  nixd/lib/Controller/FindReferences.cpp
  nixd/lib/Controller/LifeTime.cpp
  nixd/lib/Controller/Support.cpp
  nixd/meson.build
  nixd/tools/nixd/test/initialize.md
  nixd/tools/nixd/test/references-lambda.md
  nixd/tools/nixd/test/references-let.md
  nixd/tools/nixd/test/references-rec.md
  nixd/tools/nixd/test/references-var.md
  nixd/tools/nixd/test/references-with.md
Labels: nixd:controller

#403 nixd: support `textDocument/documentHighlight`
  nixd/include/nixd/Controller/Controller.h
  nixd/lib/Controller/DocumentHighlight.cpp
  nixd/lib/Controller/LifeTime.cpp
  nixd/lib/Controller/Support.cpp
  nixd/meson.build
  nixd/tools/nixd/test/document-highlight.md
  nixd/tools/nixd/test/initialize.md
Labels: nixd:controller

#395 libnixf/Sema: record env for later references
  libnixf/include/nixf/Sema/VariableLookup.h
  libnixf/src/Sema/VariableLookup.cpp
  libnixf/test/Sema/VariableLookup.cpp
Labels: libnixf:sema

#439 libnixf/Sema: dfs formal default arg if it exists
  libnixf/src/Sema/VariableLookup.cpp
  libnixf/test/Sema/VariableLookup.cpp
Labels: bug, libnixf:sema

#441 nixd/attrs-eval: set offset from zero
  nixd/lib/Eval/AttrSetProvider.cpp
  nixd/tools/nixd/test/definition-options.md
Labels: bug, nixd:attrs-eval

#442 libnixf: introduce dots vector
  libnixf/include/nixf/Basic/NodeKinds.inc
  libnixf/include/nixf/Basic/Nodes/Attrs.h
  libnixf/include/nixf/Basic/Nodes/Basic.h
  libnixf/src/Parse/ParseAttrs.cpp
  libnixf/src/Sema/SemaActions.cpp
  nixd/lib/Controller/AST.cpp
  nixd/tools/nixd/test/completion-options-mid.md
Labels: enhancement, libnixf:parse

#445 libnixf: fix crash for large integers
  libnixf/include/nixf/Basic/DiagnosticKinds.inc
  libnixf/src/Parse/ParseSimple.cpp
  libnixf/test/Parse/ParseSimple.cpp
Labels: bug

#449 docs: optimize the neovim testing environment
  flake.nix
  nixd/docs/editors/editors.md
  nixd/docs/editors/nvim-lsp.nix
  nixd/docs/examples/NixOS_Home-Manager/flake.lock
  nixd/docs/examples/NixOS_Home-Manager/flake.nix
Labels: documentation

#453 nixd/docs: add hacking guide
  nixd/docs/dev.md
Labels: documentation

#450 editors/nvim: fix missing example folder issue in remote testing
  flake.lock
  flake.nix
Labels: editors

#448 libnixf: diagnose redundant paren
  libnixf/include/nixf/Basic/DiagnosticKinds.inc
  libnixf/src/Parse/ParseSimple.cpp
  libnixf/test/Parse/ParseSimple.cpp
Labels: enhancement, libnixf:parse

#467 libnixf: inherit expression should comes from "NewEnv" for recursive …
  libnixf/src/Sema/VariableLookup.cpp
  libnixf/test/Sema/VariableLookup.cpp
Labels: bug, libnixf:sema

#476 libnixf/Sema: place `with` warning only on its keyword
  libnixf/src/Sema/VariableLookup.cpp
  libnixf/test/Sema/VariableLookup.cpp
Labels: bug, editors, libnixf:sema

#473 libnixt: return concrete value for nixt::selectOptions
  libnixt/include/nixt/Value.h
  libnixt/lib/Value.cpp
  nixd/lib/Eval/AttrSetProvider.cpp
Labels: bug, libnixt

#481 libnixf/Sema: accept last comma
  libnixf/src/Sema/SemaActions.cpp
  libnixf/test/Sema/SemaActions.cpp
Labels: bug

#474 libnixt: stop at concrete options, rather than select into it.
  nixd/lib/Eval/AttrSetProvider.cpp
  nixd/tools/nixd/test/completion-option-stop.md
Labels: bug, libnixt
